@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";


body {
    height: 100vh;
    width: 100vw;
}

form {
    margin: auto;
    width: 40%;
}

form fieldset {
    background-color: #eee;
    border: unset;
    box-shadow: 1px 3px 12px -4px #000000;
}

form fieldset  legend{
    width: 100px;
    margin-bottom: 15px;
    background-color: #eee;
    padding: 5px 10px;
    box-shadow: 1px 3px 10px -4px #000000;
}

form .btn {
    padding: 5px 15px;
    background-color: #000000;
    color: #fff;
}