body {
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}

body * {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.4rem;
    color: #000;
}

header,
footer {
    flex-basis: 100%;
}

aside {
    flex: 2 1 20rem;
}

main {
    flex: 8 1 40rem;
}