html {
    font-family: Helvetica, sans-serif;
}

body {
    padding: 50px;
}

a {
    text-decoration: none;
    color: green;
}

nav,
header nav h1,
header nav ul,
header nav ul li {
    display: inline-block;
}

header nav ul li {
    margin: 0 25px;
}

p {
    line-height: 25px;
}