body {
    background-color: rgb(238, 238, 238);
}

h1,
h2 {
    font-family: Georgia, serif;
}

.content img {
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    padding: 10px;
}

.content .img-left {
    float: left;
    margin: 10px 10px 10px 0;
}

.content .img-right {
    float: right;
    margin: 0px 10px 10px 10px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title {
    flex-basis: 92%;
    font-size: 25px;
    border-bottom: 2px solid black;
}

.content {
    flex-basis: 70%;
}

aside ul li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

.quot {
    display: flex;
    justify-content: space-evenly;
}

.quot blockquote {
    font-family: Georgia, serif;
    display: flex;
    padding-left: 30x;
    opacity: 0.5;
    border-left: 3px solid gray;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 20px;
    gap: 20px;
}

.quot blockquote p {
    flex-basis: 100%;
}

.quot blockquote span {
    justify-self: flex-end;
}